###################################################################                                 
##################GLOBAL TURTLEBOT CONFIGURATION FILE##############
###################################################################

#////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
##################################################################MISSION PLANNER################################################################
goal_radius: 0.1 #the goal radius in m at which the goal is declared as reached
mp_rate: 25 #rate of mission planner
#################################################################################################################################################
#////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
##################################################################MOTION FILTER##################################################################
axle_track: 0.16 #width between wheels
wheel_radius: 0.033 #radius of wheel
weight_odom_v: 0.99 #weight of linear velocity for weighted average filter
weight_odom_w: 0.01 #weight of angular velocity for weighted average filter
straight_thresh: 0.05 #heading to declare that turtlebot is moving straight
mf_rate: 50 #the rate of the motion filter
use_internal_odom: true #True:GroundTruth Pose, False: Motion Filter
verbose_mf: false #Verbosity of logging
#################################################################################################################################################
#////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
##################################################################OCCUPANCY GRID#################################################################
cell_size: 0.05 #Cell resolution
inflation_radius: 0.20 #Inflation radius of each cell in m
max_scan_range: 3.49999 #Max range of laser scan
log_odds_thresh: 10 # Threshold after which we declare that a node is occ (Log Odds Bayes Filter)
log_odds_cap: 20 # The cap for the Log Odds Bayes Filter
occ_rate: 25 #spin rate of occupancy grid node
occ_verbose: false #verbosity
#################################################################################################################################################
#////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
##################################################################GLOBAL PLANNER################################################################
gp_rate: 25.0 #rate
verbose_planner: true #verbosity of logs
planner_name: "astar" #name of planner --> Options:
cost_mode: "fg" #cost function to use
#################################################################################################################################################
#////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
##################################################################COMMANDER######################################################################
com_rate: 25 #rate of commander
enable_commander: true ##set this to false so that we can teleoperate
close_enough: 0.1 #We decalre a target to be reached if we are within close_enogh m
danger_close: 100  ##as long as the first occuring bad cell is more than danger_close cells away, we can just keep navigating towards that target
verbose_commander: false #verbosity
#################################################################################################################################################
#////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
##################################################################PID CONTROLLER#################################################################
Kp_lin: 2.75 #P gain for linear vel
Ki_lin: 0.0 #I gain for linear vel
Kd_lin: 0.1 #D gain for linear vel
max_lin_vel: 0.17 #hard linear velocity constraint to prevent turtlebot from dying on real hardware
max_lin_acc: 1.0  #hard angular acceleration constraint to prevent slippage on real hardware
Kp_ang: 1.5 #P gain for angular vel
Ki_ang: 0.0 #I gain for angular vel
Kd_ang: 0.5 #D gain for angular vel
max_ang_vel: 2.0 #hard angular velocity constraint to prevent turtlebot from dying on real hardware
max_ang_acc: 2.3  #hard angular acceleration constraint to prevent slippage on real hardware
damping_limit: 20 ##in degrees
damping_function: Cos ## Cos, Quad , PieceWise , Exp
##note that changing this will break Controller::dampingCoefficient. A better function needs to be designed 
reverse_limit: 90 ##this means that any heading STRICTLY more than 90 will trigger reverse movement. ##in degrees
#################################################################################################################################################
#////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
##################################################################TRAJECTORY PLANNER#############################################################
target_dt: 0.04 ##must be slower than or equal to com_rate
average_speed: 0.20 #average speed of the turtlebot
traj_type: Quintic ##Linear, Cubic, Quintic
#################################################################################################################################################